* {
    margin: 0;
    padding: 0;
    border: none;
    text-align: center;
    color: white;
}

:root {
    --gradient-blue: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

body {
    width: 100%;
    height: 100%;
    background: var(--gradient-blue) ;
}

header {
    height: 15vh;
    width: 100%;
}

main {
    min-height: 75vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 16px;
}

footer {
    height: 10vh;
    width: 100%;
}

footer > p,a {
    color: #330867;
}

a {
    text-decoration: none;
}

h1, p {
    padding: 20px;
}

p {
    font-size: 1.2em;
}

h1 {
    font-size: 2.5em;
}

#goToTop, #addBook {
    background: white;
    font-size: 1em;
    height: 3em;
    width: 3em;
    border-radius: 50%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.678);
}

#addBook {
    position: fixed;
    bottom: 15vh;
    right: 30px;
}

#goToTop {
    position: fixed;
    bottom: 5vh;
    right: 30px;
}

#addBook:active, #goToTop:active {
    background: #30cfd0;
    border: 2px solid black;
}

.Book {
    height: 70vh;
    width: 25vw;
    background: #7A7978;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
}

.Tittle {
    font-size: 2em;
}

.Author {
    font-size: 1.5em;
}

.Pages {
    font-size: 1.5em;
}

.Buttons {
    position: relative;
    top: 15%;
}

.Read, .NotRead, .Remove {
    height: 3em;
    width: 6em;
    font-size: 1.5em;
    font-weight: 600;
    border-radius: 20px;
}

.Read {
    background-color: chartreuse;   
}

.NotRead {
    background-color: tomato;
}

.Remove {
    color: black;
    background-color: darkgrey;
}

.Read:active, .NotRead:active, .Remove:active {
    border: 2px solid black;
}

.bookInput {
    backdrop-filter: blur(4px) brightness(30%);
}

#bookInput {
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
    position: fixed;
}

.addBookContainer {
    height: 70vh;
    width: 30vw;
    background: azure;
    border-radius: 20px;
}