* {
    margin: 0;
    padding: 0;
    border: none;
    text-align: center;
    color: white;
}

:root {
    --gradient-blue: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

body {
    width: 100%;
    height: 100%;
    background: var(--gradient-blue) ;
}

header {
    height: 15vh;
    width: 100%;
}

main {
    min-height: 75vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 16px;
}

footer {
    height: 10vh;
    width: 100%;
}

footer > p,a {
    color: #330867;
}

a {
    text-decoration: none;
}

h1, p {
    padding: 20px;
}

p {
    font-size: 1.2em;
}

h1 {
    font-size: 2.5em;
}

#goToTop, #addBook {
    background: white;
    font-size: 1em;
    height: 3em;
    width: 3em;
    border-radius: 50%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.678);
}

#addBook {
    position: fixed;
    bottom: 15vh;
    right: 30px;
}

#goToTop {
    position: fixed;
    bottom: 5vh;
    right: 30px;
}

#addBook:active, #goToTop:active, #closeButton:active, #addButton:active {
    background: #30cfd0;
    border: 2px solid black;
}

.Book {
    height: 70vh;
    width: 25vw;
    background: #7A7978;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
}

.Tittle {
    font-size: 2em;
}

.Author {
    font-size: 1.5em;
}

.Pages {
    font-size: 1.5em;
}

.Buttons {
    position: relative;
    top: 15%;
}

.Read, .NotRead, .Remove {
    height: 3em;
    width: 6em;
    font-size: 1.5em;
    font-weight: 600;
    border-radius: 20px;
}

.Read {
    background-color: chartreuse;   
}

.NotRead {
    background-color: tomato;
}

.Remove {
    color: black;
    background-color: darkgrey;
}

.Read:active, .NotRead:active, .Remove:active {
    border: 2px solid black;
}

#bookInputContainer {
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
    position: fixed;
    backdrop-filter: blur(3em) brightness(20%);
}

.labelsInputs {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#readedLabel {
    width: 25vw;
    flex-direction: row;
    align-items: center;
    justify-items: left;
}

label {
    font-size: 1.2em;
    font-weight: 600;
    color: black;
    align-self: start;
}

#bookInput {
    height: 75vh;
    width: 30vw;
    background: azure;
    border-radius: 20px;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.bookInputs {
    color: black;
    font-size: 1.25em;
    text-align: center;
    height: 2.5em;
    width: 25vw;
    background: lightgray;
    border-radius: 1em;
}

.bookInputs:not(:placeholder-shown):invalid {
    border: 2px solid red;
    animation: bounce 1s infinite alternate;
}

@keyframes bounce {
    from {
      transform: translateX(15px);
    }
    to {
      transform: translateX(-15px);
    }
  }

#closeButton {
    height: 2em;
    width: 2em;
    background-color: red;
    font-size: 1.25em;
    font-weight: 600;
    border-radius: 20px;
    align-self: end;
    position: relative;
    right: 8.5%;
}

#addButton {
    background: chartreuse;
    height: 2.5em;
    width: 25vw;
    font-size: 1.3em;
    border-radius: 20px;
    font-weight: 600;
    margin-top: 1em;
}